<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Site gourmand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body>
    <script async defer id='2020518182056990' src='https://widgets.worldtimeserver.com/Public.ashx?rid=2020518182056990&theme=Analog&action=clock&wtsid=MA&hex=ff9900&city=Oujda&size='></script>
    <div id="app" class="container">
        <h2>Hello</h2>
        <div class="row">
            <product v-for="(product, index) in products" :product="product" :n="index"
                @actionmohammed="addToBasketGlobal"></product>
        </div>
        <h2 class="w-50 shadow-lg p-3 mb-3 bg-white rounded ">Prix total des achats : {{totalAchat}} DH<br> Nombre d'article commandés : {{basket.products.length}}</h2><br>
        <h2>Basket products</h2>
        <hr />
        <div v-if="basket.products.length == 0"  class="alert alert-warning" role="alert">
            There is no product in the basket
        </div>
        <div class="row">
            <h3 v-for="product in basket.products" class="shadow-lg p-3 mb-3 bg-white rounded" :product="product" :price="price" v-if="basket.products.length>0" >{{product.name}} : {{product.price}} </h3>
            
           
            <product v-show="basket.products.length>0" v-for="(product) in basket.products" :product="product" :n="index" ></product>

        </div>
        
        <!-- <Achat v-for="(product, index) in products" :name="name" :price="price" @addToBasket="produitAcheté"></Achat> -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>